#limit{
	background-color: #2d2424;
}
#chesst{
	background-color: rgba(56, 236, 245, 0.18);
}
.chatbox{
	background-color: inherit;
}
textarea{
	background-color: rgba(72, 90, 90, 0.18);
	color: #aae24f;
}
#chat, #notationAlgebrique{
	background-color: rgba(202, 18, 18, 0.18);
}
#timePlayerB, #timePlayerW, #mouves{
	background-color: rgba(6, 74, 46, 0.58);
}
.chatbox button{
	background-color: #0dde9bc7;
}